* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:focus{
    border: none;
    user-select: none;
    outline: none;
}

.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-block{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 800px;
    width: 100%;
}

.main-block-buttons{
    display: flex;
}

.main-block .main-content{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    height: 800px;
    width: 100%;
}

.main-text{
    padding-left: 50px;
    padding-right: 30px;
    font-size: 2.7em;
    cursor: pointer;
}

.main-text a{
    text-decoration: none;
    color: rgb(107, 107, 107);
}

.header{
    background-color: #1ed2b0;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons-login{
    display: flex;
    align-items: center;
}

.urls{
    display: flex;
    align-items: center;
}

.navigation{
    display: flex;
    justify-content: center;
}

.navigation ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 75px;
    margin-bottom: 0px;
}

.navigation > ul{
    display: flex;
    justify-content: center;
}

.navigation > ul li a{
    display: block;
    padding: 10px;
    font-size: 26px;
    color: #fff;
    text-decoration: none;
}

.navigation > ul li{
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.1s;
}

.navigation i{
    padding-right: 10px;
}

.navigation > ul li:hover{
    background-color: #1dbfa1;
}

.img-login-avatar{
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
}

.drop-menu{
    margin-right: 5%;
}

.img-login-avatar:hover{
    opacity: 0.8;
}

.btn-header-login{
    background-color: rgb(39, 240, 221);
    width: 110px;
    height: 50px;
    margin-right: 20%;
    transition: 0.2s;
    border: none;
    user-select: none;
    outline: none;
    border-radius: 5px;
}

.btn-header-login:focus{
    border: none;
    user-select: none;
    outline: none;
}

.btn-header-login a{
    text-decoration: none;
    color: dimgray;
}

.btn-header-login:hover{
    transform: scale(105%);
}

.btn-header-login span{
    font-size: 22px;
}

.btn-header-servers{
    background-color: rgb(39, 240, 221);
    width: 200px;
    height: 50px;
    transition: 0.2s;
    margin-right: 10%;
    border: none;
    user-select: none;
    outline: none;
    border-radius: 5px;
}

.btn-header-servers:focus{
    border: none;
    user-select: none;
    outline: none;
}

.btn-header-servers a{
    text-decoration: none;
    color: dimgray;
}

.btn-header-servers:hover{
    transform: scale(105%);
}

.btn-header-servers span{
    font-size: 22px;
}

.btn-group{
    margin-right: 5%;
}

.dropdown-toggle{
    background: none;
    outline: none;
    user-select: none;
    border: none;
    width: auto;
    height: auto;
}

.dropdown-toggle::after{
    border: none;
}

.dropdown-toggle:focus{
    outline: none;
    user-select: none;
    border: none;
}

.dropdown-item:focus, 
.dropdown-item:hover{
    color: #444;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.btn-main-block-invite{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 55px;
    border-radius: 15px;
    outline: none;
    user-select: none;
    text-decoration: none;
    font-size: 26px;
    transition: 0.3s;
    background: rgb(30,210,176);
    background: linear-gradient(90deg, rgba(30,210,176,1) 0%, rgba(75,142,217,1) 86%);
    margin-right: 2%;
}

.btn-main-block-invite a{
    transition: 0.3s;
    text-decoration: none;
    color: #444;
}

.btn-main-block-invite:hover{
    transform: translateY(-10px);
}

.btn-main-block-servers-login{
    box-shadow: 0 0 4px #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    outline: none;
    user-select: none;
    text-decoration: none;
    border: solid 2px #555;
    color: #707070;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 1%;
}

.btn-main-block-servers-login a{
    text-decoration: none;
    color: #707070;
}

.btn-main-block-servers-login:hover{
    background-color: #555;
    color: #fff;
}

.btn-main-block-servers-login:hover a{
    color: #fff;
}

.login{
    width: 90px;
    height: 45px;
}

.servers{
    width: 150px;
    height: 45px;
}

.description-figure{
    border-radius: 59% 41% 61% 39% / 44% 68% 32% 56%;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.description-figure:hover{
    transform: scale(105%);
}

.description-figure h1{
    color: #fff;
}

.description-figure p{
    color: #fff;
    padding: 20px 60px 0 40px;
    display: flex;
    text-align: center;
    font-size: 20px;
}

.df-1{
    background-color: #444;
    margin-left: 5%;
}

.df-2{
    background-color: #1ed2b0;
    margin-right: 5%;
}

.card-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 620px;
}

.cb-1{
    background-color: #1ed2b0;
    flex-direction: row;
}

.cb-2{
    background-color: #444;
    flex-direction: row-reverse;
}

.footer{
    background-color: #444;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.footer-text{
    color: #fff;
    font-size: 18px;
}

.footer-text i{
    margin: 8px;
}

.wrap{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.bot-stats{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.stat-item{
    color: #444;
    margin-left: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-item i{
    font-size: 150px;
}

.stat-item-count{
    font-size: 22px;
}

.stat-item-text{
    font-size: 30px;
}

.command_body{
    width: 45%;
    height: auto;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    margin-top: 1%;
    margin-left: 2%;
}

.command_body div{
    padding: 15px;
}

.c-wrap:nth-last-child(1){
    margin-bottom: 8%;
}

.command_name{
    font-size: 20px;
}

.command_name i{
    font-size: 22px;
}

.command_desc,
.command_usage{
    color: #909090;
}

.global-stats{
    width: 70%;
    height: auto;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    margin-bottom: 3%;
}

.global-stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.global-stat i{
    font-size: 40px;
    color: #a6a6a6;
}

.stat-guilds{
    margin-left: 4%;
    margin-right: 4%;
}

.global-count{
    font-size: 28px;
    color: #a6a6a6;
}

.global-stat-text{
    font-size: 22px;
    color: #222;
}

.transaction{
    width: 100%;
    height: 175px;
    background-color: #444;
    border-radius: 5px;
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.transaction-fields{
    display: flex;
    flex-direction: column;
    color: #a6a6a6;
    font-size: 20px;
}

.transaction-guild-img{
    width: 128px;
    height: 128px;
    margin-left: 2%;
    margin-right: 4%;
}

.transactions-title{
    font-size: 40px;
    color: #707070;
    margin: 3% 0 3% 0;
}

.leader{
    width: 100%;
    height: 175px;
    background-color: #444;
    border-radius: 5px;
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leaderboard-title{
    font-size: 40px;
    color: #707070;
    margin: 3% 0 3% 0;
}

.leader-avatar{
    width: 128px;
    height: 128px;
    margin-left: 2%;
    margin-right: 4%;
}