{% extends 'base.html' %}
{% block url_css_1 %}
{{ /static/css/main.css }}
{% endblock %}

{% block title %}
ProstoTools
{% endblock %}

{% block body %}

<div class="main-block">
    <div class="main-content">
        <div class="main-block-buttons">
            <span class="btn-main-block-invite shadow"><a href="https://discord.com/api/oauth2/authorize?client_id=700767394154414142&permissions=8&scope=bot">Пригласить</a></span>
            {% if not login %}
                <span class="btn-main-block-servers-login login shadow"><a href={{ url }}>Войти</a></span>
            {% endif %}
            {% if login %}
                <span class="btn-main-block-servers-login servers shadow"><a href='/servers'>Мои сервера</a></span>
            {% endif %}
        </div>
        <img src="{{ url_for('static', filename='img/main-img.png') }}" alt="" width="512"/>
    </div>
</div>

<div class="container">
    <div class="bot-stats">
        <div class="stat-item users"><i class="fas fa-user"></i><span class="stat-item-text">Пользователей</span><span class="stat-item-count">{{ bot_stats[1] }}</span></div>
        <div class="stat-item guilds"><i class="fas fa-users"></i><span class="stat-item-text">Серверов</span><span class="stat-item-count">{{ bot_stats[0] }}</span></div>
        <div class="stat-item commands"><i class="fas fa-sign-out-alt"></i><span class="stat-item-text">Выполненно команд</span><span class="stat-item-count">{{ bot_stats[2][0] }}</span></div>
    </div>    
</div>

<div class="card-block cb-1">
    <span class="description-figure shadow-lg df-1"><h1>Описания</h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, incidunt! Culpa, consequuntur magnam? Alias quo laborum et quas sequi, non esse rerum eaque repellat cumque fuga facilis molestias maiores temporibus.</p></span>
    <img class='card-block-1-img' src="" alt="">
</div>

<div class="card-block cb-2">
    <span class="description-figure shadow-lg df-2"><h1>Описания</h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, incidunt! Culpa, consequuntur magnam? Alias quo laborum et quas sequi, non esse rerum eaque repellat cumque fuga facilis molestias maiores temporibus.</p></span>
    <img class='card-block-2-img' src="" alt="">
</div>

<div class="card-block cb-1">
    <span class="description-figure shadow-lg df-1"><h1>Описания</h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, incidunt! Culpa, consequuntur magnam? Alias quo laborum et quas sequi, non esse rerum eaque repellat cumque fuga facilis molestias maiores temporibus.</p></span>
    <img class='card-block-1-img' src="" alt="">
</div>

{% endblock %}