{% extends 'base.html' %}
{% block url_css_1 %}
{{ url_for('static', filename='css/main.css') }}
{% endblock %}

{% block title %}
ProstoTools
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrap d-flex justify-content-center">
        <span class="leaderboard-title">Топ-100 пользователей нашего бота</span>
        {% for user in users_list %}
            <div class="leader">
                <img src="{{ users_data[user]['avatar'] }}" alt="" class="leader-avatar" width=128px>
                <div class="leader-fields">
                    <span>{{ users_data[user] }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
