.sidebar{
    position: absolute;
    left: 0;
    width: 260px;
    margin: 75px 0 75px 0;
    display: flex;
    flex-direction: column;
}

.sidebar a{
    text-decoration: none;
    color: #444;
}

.sidebar-btn{
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 225px;
    height: 50px;
    margin-top: 4%;
    margin-left: 8%;
    background-color: #999;
    font-size: 22px;
    transition: 0.2s;
}

.sidebar-btn i{
    padding: 0 5px 0 5px;
}

.sidebar-btn:hover{
    transform: scale(105%);
}

.form{
    margin-top: 2%;
    border-radius: 5px;
    box-shadow: 0 4px 12px #cccc;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}

.form-input{
    font-size: 16px;
    width: 90%;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    color: #777;
    outline: none;
    transition: 0.3s;
    margin-top: 2%;
    padding-left: 11px;
}

.group-form{
    position: relative;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.group-form:nth-last-child(1){
    margin-bottom: 6%;
}

.form-label{
    position: absolute;
    top: -2px;
    left: 6.2%;
    z-index: -1;
    font-size: 12px;
    color: #ccc;
    padding-top: 5px;
}

.form-input:focus{
    border-bottom: 1px solid #1ed2b0;
}

.form-title{
    display: block;
    text-align: center;
    margin: 4% 0 4% 0;
    letter-spacing: 1px;
    color: #444;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    background-image: none;
    width: 100%;
    padding-top: 10px;
}

select {
    color: #444;
    font-size: 20px;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 90%;
    height: 3em;
    line-height: 3;
    background: #fff;
    overflow: hidden;
    border-radius: .25em;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    color: #444;
}

.select:hover::after {
    color: #f39c12;
} 

.select option{
    font-size: 18px;
}

.select-label{
    position: absolute;
    font-size: 12px;
    color: #ccc;
    top: -26%;
    left: 1.2%;
}

.multi-select {
    position: relative;
    display: flex;
    width: 90%;
    height: 3em;
    line-height: 3;
    background: #fff;
    overflow: hidden;
    border-radius: .25em;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.multi-select-btn {
    position: absolute;
    border: none;
    outline: none;
    border-radius: 5px;
    top: 0;
    right: 55px;
    padding: 5px;
    cursor: pointer;
    transition: .25s all ease;
    color: #444;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
}

.multi-select-btn:hover {
    background-color: #f39c12;
}

.multi-select-btn:focus{
    outline: none;
    user-select: none;
}

.multi-select option{
    font-size: 18px;
}

.multi-select-label{
    position: absolute;
    font-size: 12px;
    color: #ccc;
    top: -26%;
    left: 1.2%;
}

.guild-card{
    margin-top: 2%;
    border-radius: 5px;
    box-shadow: 0 4px 12px #cccc;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guild-card-img{
    border-radius: 5px;
    margin-top: 7%;
}

.guild-card-text{
    color: #444;
    margin: 3% 0 6% 0;
}

.btn-save-data{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 55px;
    border-radius: 15px;
    border: none;
    color: #444;
    outline: none;
    user-select: none;
    text-decoration: none;
    font-size: 26px;
    transition: 0.3s;
    background: rgb(30,210,176);
    background: linear-gradient(90deg, rgba(30,210,176,1) 0%, rgba(75,142,217,1) 86%);
}

.btn-save-data:focus{
    outline: none;
    user-select: none;
}

.btn-save-data:hover{
    transform: scale(105%);
}

.mb{
    margin-bottom: 5%;
}

.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    font-size: 24px;
    height: 60px;
    width: 600px;
    margin-top: 3%;
}

.wrap{
    width: 800px;
}

.multi-select-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: auto;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #cccc;
    margin: 1%;
    transition: 0.3s;
}

.multi-select-card input{
    border: none;
    background-color: transparent;
    width: auto;
    display: block;
    text-align: center;
    color: #444;
}

.multi-select-card button{
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 28px;
    outline: none;
    user-select: none;
    border: none;
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background: none;
    transition: 0.2s;
}

.multi-select-card button:focus{
    outline: none;
    user-select: none;
}

.multi-select-card button:hover{
    background-color: #e8e8e8;
}







.if_u_need_class {
    display: none;
}




input[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 30px;
    -webkit-appearance: none;
    outline: none;
    background: #636363;
    border-radius: 20px;
    transition: 0.2s;
  }
  
  input:checked[type="checkbox"] {
    background: #3a5070;
  }
  
  input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    transform: scale(1.1);
    border-radius: 50%;
    top: -5px;
    left: 0;
    background: #d1d1d1;
    transition: 0.2s;
  }
  
  input:checked[type="checkbox"]:before {
      background: #5386d4;
       left: 40px;
  }