.guild-card{
    height: 120px;
    width: 330px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #cccc;
    margin: 3% 1% 0 1%;
    transition: 0.3s;
}

.up-part{
    border-bottom: 1px #e6e6e6 solid;
    padding-bottom: 4%;
}

.bottom-part{
    display: flex;
    align-items: center;
}

.guild-card:hover{
    transform: scale(105%);
}

.guild-card:nth-last-child(1){
    margin-bottom: 4%;
}

.icon-guild{
    margin: 4% 4% 0 4%;
}

.name-guild{
    color: #222;
    font-size: 20px;
}

.btn-guild-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4%;
    width: 100px;
    height: 30px;
    transition: 0.2s;
}

.btn-guild-card:hover{
    background-color: #cccc;
}

.btn-guild-card a{
    text-decoration: none;
    color: #444;
}

.not-servers{
    color: #444;
}

.not-servers a{
    text-decoration: none;
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    border-radius: 5px;
    border: solid 2px #555;
    transition: 0.3s;
    font-size: 22px;
    margin-top: 1%;
}

.not-servers i{
    font-size: 80px;
    margin-bottom: 1%;
    margin-top: 25%;
}

.not-servers a:hover{
    background-color: #555;
    color: #fff;
}