{% extends 'base.html' %}
{% block url_css_1 %}
{{ url_for('static', filename='css/main.css') }}
{% endblock %}
{% block url_css_2 %}
{{ url_for('static', filename='css/profile.css') }}
{% endblock %}

{% block title %}
Профиль
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center flex-column align-items-center">
    <div class="profile-card">
        <img src="{{ avatar }}" alt="" width="180px" class="main-profile-img">
        <h1 class="main-profile-text">{{ user_name }}</h1>
    </div>

    <div class="card">
        <h2 class="card-title">Профиль</h2>
        {% if user_data[3] != ' ' %}
            <span class="card-bio-title">Немножко о вас</span>
            <span class="card-bio">{{ user_data[3] }}</span>
        {% endif %}

        <div class="card-group">
            <span class="card-field">{{ user_name }}</span>
            <span class="card-label">Ник</span>
        </div>

        <div class="card-group">
            <span class="card-field">{{ user_data[0] }}</span>
            <span class="card-label">Id</span>
        </div>

        <div class="card-group">
            <span class="card-field">{{ user_data[1] }}</span>
            <span class="card-label">Количество серверов</span>
        </div>

        <div class="card-group">
            <span class="card-field">{{ user_data[2] }}</span>
            <span class="card-label">Всего денег</span>
        </div>

        <div class="card-group card-buttons-group">
            <span class='card-button shadow'><a href="/leaderboard">Таблица лидеров</a></span>
            <span class='card-button shadow'><a href="/transactions">Ваши транзакции</a></span>
            <span class="card-button shadow"><a href="/items">Ваши предметы</a></span>
            <span class='card-button shadow'><a href="/logout">Выйти</a></span>    
        </div>

    </div>

</div>
{% endblock %}