{% extends 'base.html' %}
{% block url_css_1 %}
{{ url_for('static', filename='css/main.css') }}
{% endblock %}

{% block title %}
ProstoTools
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center">
    <div class="global-stats">
        <div class="global-stat stat-channels">
            <i class="fas fa-comment-dots"></i>
            <span class="global-stat-text text-channels">Всего каналов</span>
            <span class="global-count count-channels">{{ bot_stats[0] }}</span>
        </div>
        <div class="global-stat stat-guilds">
            <i class="fas fa-users"></i>
            <span class="global-stat-text text-guilds">Всего серверов</span>
            <span class="global-count count-guilds">{{ bot_stats[1] }}</span>
        </div>
        <div class="global-stat stat-users">
            <i class="fas fa-user"></i>
            <span class="global-stat-text text-users">Всего пользователей</span>
            <span class="global-count count-users">{{ bot_stats[2] }}</span>
        </div>
    </div>

</div>

<div class="container d-flex justify-content-center">
    <div class="wrap d-flex justify-content-center">
        <iframe src="http://localhost:3000/d-solo/OXZnwZdMz/new-dashboard-copy?orgId=1&theme=light&panelId=8" width="1040" height="640" frameborder="0"></iframe>
        <iframe src="http://localhost:3000/d-solo/OXZnwZdMz/new-dashboard-copy?orgId=1&theme=light&panelId=2" width="520" height="320" frameborder="0"></iframe>
        <iframe src="http://localhost:3000/d-solo/OXZnwZdMz/new-dashboard-copy?orgId=1&theme=light&panelId=4" width="520" height="320" frameborder="0"></iframe>
        <iframe src="http://localhost:3000/d-solo/OXZnwZdMz/new-dashboard-copy?orgId=1&theme=light&panelId=10" width="520" height="320" frameborder="0"></iframe>
        <iframe src="http://localhost:3000/d-solo/OXZnwZdMz/new-dashboard-copy?orgId=1&theme=light&panelId=6" width="520" height="320" frameborder="0"></iframe>    
    </div>    
</div>
{% endblock %}